<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- INSERT INTO `foohang`.`member` (`member_id`, `email`, `password`, `nickName`, `region`, `food`, `birth`, `gender`)
VALUES ('1', 'ssafy@ssafy.com', '1234', 'ssafy', '대전', '떡볶이', '1997.01.01', '1'); -->
<mapper namespace="com.jjh.foohang.member.model.mapper.MemberMapper">
    <!-- 회원가입 -->
    <insert id ="regist" parameterType="member">
        insert into member (email, password, nick_name, region, food, birth, gender)
        values (#{email}, #{password}, #{nickName}, #{region}, #{food}, #{birth}, #{gender})
    </insert>

    <!-- 로그인 -->
    <select id ="login" parameterType="member" resultType="member">
        select member_id, email, password, nick_name, region, food, birth, gender from member
        where email = #{email}
    </select>

    <!-- 회원 정보 id로 찾기 -->
    <select id="findMemberById" parameterType="int" resultType="member">
        select member_id, email, nick_name, region, food, birth, gender from member
        where member_id = #{memberId}
    </select>

    <!-- 회원 정보 이메일로 찾기 -->
    <select id="findMemberByEmail" parameterType="string" resultType="member">
        select member_id, email, nick_name, region, food, birth, gender from member
        where email = #{email}
    </select>

    <!-- 회원 정보 수정 #1. 비밀번호 포함 변경-->
    <update id="updateIncludePassword" parameterType="member">
        update member set password=#{password}, nick_name=#{nickName}, region=#{region}, food=#{food}, birth=#{birth}, gender=#{gender}
        where member_id = #{memberId}
    </update>

    <!-- 회원 정보 수정 #1. 비밀번호 포함하지 않고 변경-->
    <update id="updateNotIncludePassword" parameterType="member">
        update member set nick_name=#{nickName}, region=#{region}, birth=#{birth}, food=#{food}, gender=#{gender}
        where member_id = #{memberId}
    </update>


</mapper>