<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jjh.foohang.review.model.mapper.ReviewMapper">

    <!--리뷰 등록-->
    <insert id="insertReview" parameterType="review">
        insert into review (member_id, selected_date, uploded_date, hashtags, review_title, review_text, selected_emotion, files)
        values #{memberId}, #{selectedDate}, #{uplodedDate}, #{hashtags}, #{reviewTitle}, #{reviewText}, #{selectedEmotion}, #{files}
    </insert>
</mapper>