<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jjh.foohang.review.model.mapper.ReviewMapper">

    <!--리뷰 등록-->
    <insert id="insertReview" parameterType="review">
        insert into review (member_id, selected_date, uploaded_date, hashtags, review_title, review_text, selected_emotion, files)
        values (#{memberId}, #{selectedDate}, #{uploadedDate}, #{hashtags}, #{reviewTitle}, #{reviewText}, #{selectedEmotion}, #{files})
    </insert>

    <!-- 회원 id 최상위 인덱스 조회 -->
    <select id="getReviewIdMax" resultType="int">
        select MAX(review_id) from review;
    </select>

    <!-- 회원id로 리뷰 게시글 조회 -->
    <select id="selectReviewByMemberId" parameterType="int" resultType="review">
        select
            review_id,
            member_id,
            selected_date,
            uploaded_date,
            hashtags,
            review_title,
            review_text,
            selected_emotion,
            files
        from review
        where member_id = #{memberId}
    </select>

    <!-- 게시글 인덱스로 리뷰 게시글 조회 -->
    <select id="selectReviewByReviewId" parameterType="int" resultType="review">
        select
            review_id,
            member_id,
            selected_date,
            uploaded_date,
            hashtags,
            review_title,
            review_text,
            selected_emotion,
            files
        from review
        where review_id = #{reviewId}
    </select>

    <!-- 삭제 -->
    <delete id ="deleteReview" parameterType="int">
        delete from review
        where review_id=#{reviewId}
    </delete>

    <!-- 수정 -->
    <update id="updateReview" parameterType="review">
        update review set
                          selected_date = #{selectedDate},
                          uploaded_date = #{uploadedDate},
                          hashtags = #{hashtags},
                          review_title = #{reviewTitle},
                          review_text = #{reviewText},
                          files = #{files},
                          selected_emotion = #{selectedEmotion}
        where review_id = #{reviewId}
    </update>

</mapper>