<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jjh.foohang.route.model.mapper.RouteMapper">

    <!-- 여행 정보 생성 -->
    <insert id="insertTravel" parameterType="int">
        insert into travel member_id values #{memberId}
    </insert>

    <!-- 여행 정보 travelID로 조회 -->
    <select id="selectTravel" parameterType="int" resultType="int">
        select travel_id from travel where travel_id = #{travelId}
    </select>

    <!-- 현재 인덱스 조회 -->
    <select id="getTravelId" resultType="int">
        select travel_id from travel where (select MAX(travel_id) from travel);
    </select>

    <!-- 여행정보를 db에 저장 -->
    <update id="updateTravel" parameterType="Travel">
        update travel set
            region = #{region},
            start_date = #{startDate},
            end_date = #{endDate},
            start_image = #{startImage},
            end_image = #{endImage},
            start_attraction = #{startAttraction},
            end_attraction = #{endAttraction}
        where travel_id = #{travelId}
    </update>

</mapper>