<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jjh.foohang.route.model.mapper.RouteMapper">

    <!-- 시도 관련 코드 -->
    <sql id="travelCol">
        travel_id,
        member_id,
        start_region,
        end_region,
        start_date,
        end_date,
        start_image,
        end_image,
        start_attraction,
        end_attraction
    </sql>

    <sql id="trailCol">
        id,
        travel_id,
        content_id,
        meal_type,
        main_accommodations
    </sql>

    <!-- 여행 정보 생성 -->
    <insert id="insertTravel" parameterType="int">
        insert into travel (member_id) values (#{memberId})
    </insert>

    <!-- 여행 정보 travelID로 조회 -->
    <select id="selectTravel" parameterType="int" resultType="Travel">
        select travel_id, member_id from travel where travel_id = #{travelId}
    </select>

    <!-- 현재 인덱스 조회 -->
    <select id="getTravelId" resultType="int">
        select MAX(travel_id) from travel;
    </select>

    <!-- 여행정보를 db에 저장 -->
    <update id="updateTravel" parameterType="Travel">
        update travel set
            start_region = #{startRegion},
            end_region = #{endRegion},
            start_date = #{startDate},
            end_date = #{endDate},
            start_image = #{startImage},
            end_image = #{endImage},
            start_attraction = #{startAttraction},
            end_attraction = #{endAttraction}
        where travel_id = #{travelId}
    </update>

    <!-- 여행 경로 노드들을 저장 -->
    <insert id="insertTrail" parameterType="trail">
        insert into trail (travel_id, content_id, meal_type, main_accommodations)
        values (#{travelId}, #{contentId}, #{mealType}, #{mainAccommodations})
    </insert>

    <!-- 회원 id로 갔던 여행지들 조회 -->
    <select id="selectTravelsByMemberId" parameterType="int" resultType="Travel">
        select <include refid="travelCol"></include>
            from travel
        where member_id = #{memberId}
    </select>

    <!-- travel id로 경로 노드들 찾기 -->
    <select id="selectTrailByTravelId" parameterType="int" resultType="trail">
        select <include refid="trailCol"></include>
            from trail
        where travel_id = #{travelId}
    </select>
</mapper>