<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jjh.foohang.spot.model.mapper.SpotMapper">
    <!-- 시도리스트 전체 조회 -->

    <!-- 시도 관련 코드 -->
    <sql id="sidoCol">
        sido_code,
        sido_name,
        sido_image
    </sql>

    <sql id="spotCol">
            content_id,
            content_type_id,
            title,
            addr1,
            first_image,
            first_image2,
            read_count,
            sido_code,
            gugun_code,
            latitude,
            longitude
    </sql>


    <select id="getSidoList" resultType="SidoGugun">
        select <include refid="sidoCol"></include>
        from sido
    </select>

    <!-- 시도리스트 이름으로 조회 -->
    <select id="findSidoBySidoName" parameterType="string" resultType="SidoGugun">
        select <include refid="sidoCol"></include>
        from sido
        where sido_name like concat('%', #{sidoName}, '%')
    </select>

    <!-- 시도리스트 시도코드로 조회 -->
    <select id="findSidoBySidoCode" parameterType="int" resultType="SidoGugun">
        select <include refid="sidoCol"></include>
        from sido
        where sido_code = #{sidoCode}
    </select>

    <!-- 구군리스트 조회 -->
    <select id="getGugunList" parameterType="int" resultType="SidoGugun">
        select
            gugun_code,
            gugun_name
        from gugun
        where sido_code = #{sidoCode}
    </select>

    <!-- 관광명 조회 -->
    <select id="getSpotList" parameterType="SidoGugun" resultType="spot">
        select <include refid="spotCol"></include>
        from attraction_info
        where sido_code = #{sidoCode}
          and gugun_code =#{gugunCode}
          and content_type_id = #{contentTypeId}
    </select>

    <select id="getSpotListAll" parameterType="SidoGugun" resultType="spot">
        select <include refid="spotCol"></include>
        from attraction_info
        where sido_code = #{sidoCode}
          and gugun_code =#{gugunCode}
    </select>

    <!-- 전국 모든 음식점 조회 -->
    <select id="getRestaurantList" resultType="spot">
        select <include refid="spotCol"></include>
        from attraction_info
        where content_type_id = 39
    </select>

    <!-- 관광지 상세조회 콘텐츠 id가 0이 아닐때-->
    <select id="getSpotDetail" parameterType="int" resultType="spot">
        select
            d.content_id as `content_id`,
            i.content_type_id as `content_type_id`,
            i.title as `title`,
            i.addr1 as `addr1`,
            i.first_image as `first_image`,
            i.first_image2 as `first_image2`,
            i.read_count as `read_count`,
            i.sido_code as `sido_code`,
            i.gugun_code as `gugun_code`,
            i.latitude as `latitude`,
            i.longitude as `longitude`,
            d.overview as `overview`
        from attraction_description d join attraction_info i
        using (content_id)
        where content_id = #{contentId}
    </select>

    <!-- 관광지 상세조회, 콘텐츠 id가 0일때는 전체조회-->
    <select id="getSpotDetailAll" resultType="spot">
        select
            d.content_id as `content_id`,
            i.content_type_id as `content_type_id`,
            i.title as `title`,
            i.addr1 as `addr1`,
            i.first_image as `first_image`,
            i.first_image2 as `first_image2`,
            i.read_count as `read_count`,
            i.sido_code as `sido_code`,
            i.gugun_code as `gugun_code`,
            i.latitude as `latitude`,
            i.longitude as `longitude`,
            d.overview as `overview`
        from attraction_description d join attraction_info i
        using (content_id)
    </select>

    <!-- 관광지 contentId로 조회 -->
    <select id="findSpotByContentId" parameterType="int" resultType="spot">
        select <include refid="spotCol"></include>
        from attraction_info
        where content_id = #{contentId}
    </select>

</mapper>